<!-- Main Toolbar of an App -->    
<mat-toolbar  color="primary">    
    <span><span class="app-logo-stye" (click)="rootPage()">Fed<span style="color: orangered">Ex</span></span> Order Portal</span>    
    <span class="demo-toolbar"></span>        
</mat-toolbar>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<router-outlet></router-outlet>